<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>rejuste wenoumi</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

 </head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../assets/img/tre.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Réjuste Wenoumi</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>   

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-cart-download"></i> <span>Services</span></a>
            <ul>
              <!-- <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-edit"></i> <span>Corrections</span></a></li>
              <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-coin-stack"></i> <span>Gestion de base de donnee</span></a></li> -->
              <!-- <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-chat"></i> <span>Message</span></a></li> -->
                </ul>
          </li>
          <!-- <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Project</span></a></li> -->
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Réjuste Wenoumi</h1>
      <p>I'm <span class="typed" data-typed-items="Data Analyst,Economist,A Web Developper"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
         <p class="fst-italic"> As an MIS intern at <strong>GDIZ</strong>, I have gained a strong experience and expertise in the field of <strong> Data</strong> through my training at <strong>EPITECH-BENIN's Coding Academy</strong>. Driven by stimulating challenges, my objective is to play an active role in the development of innovative projects within international companies and organizations. 
          <br> With my skills in <strong>economics and finance</strong>, <strong>web development and Data Analysis</strong>, I am capable of resolving complex issues and contributing to informed strategic decision-making. I am determined to bring significant added value through my knowledge and experience in this exciting and ever-evolving field.
         </p>   <strong></strong>
        </div>     

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="../assets/img/ju.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <!-- <h3>Economiste, Data analyst &amp; Web Developer.</h3> 
            <p class="fst-italic">

              Je suis actuellement en <strong>Coding Academy</strong> à EPITECH-BENIN, où je me suis spécialisé en <strong>Data</strong>, domaine passionnant en constante évolution, pour en découvrir toutes les subtilités et me perfectionner dans ce domaine. 
          
              <br> En tant que personne curieuse de nature, je suis toujours en quête de nouveaux défis à relever et de projets ambitieux à réaliser. J'aimerais contribuer activement au développement de projets innovants au sein des entreprises et des organismes internationaux en utilisant mes compétences en économie, développement web et Data Analyse pour résoudre des problématiques complexes et aider à prendre des décisions stratégiques éclairées.
     
    
             </p>   -->
            <!-- <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>26 january 2001</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.rw-code.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+229 94 55 26 16 </span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Cotonou, Bénin</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>rejuste.wenoumi@epitech.eu</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div> -->
            <p>
              <!-- <br> Mettre mes compétences en développement web et Data Analyse au service des entreprises et des organismes internationaux pour les aider à résoudre des problèmes complexes grâce à l'analyse de données approfondie. -->
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

<!-- ======= Facts Section ======= -->
<section id="facts" class="facts">
  <div class="container">
    <div class="section-title">
      <h2>Facts</h2>
      <p>The statistics speak for themselves: uncover the impressive results of my achievements. Numbers don't lie. Are you still looking for concrete evidence? If so, then navigate through the icons of the statistics.</p>
    </div>

    <div class="row no-gutters">
      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
        <div class="count-box">
          <i class="bi bi-award"></i>
          <span data-purecounter-start="0" data-purecounter-end="23" data-purecounter-duration="1" class="purecounter"></span>
          <p><strong>Happy Clients:</strong> I have successfully served 23 satisfied clients.</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="count-box">
          <i class="bi bi-folder-check"></i>
          <span data-purecounter-start="0" data-purecounter-end="52" data-purecounter-duration="1" class="purecounter"></span>
          <p><strong>Data Entry Projects:</strong> I have completed 52 data entry projects with accuracy and efficiency.</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="count-box">
          <i class="bi bi-cloud-download"></i>
          <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
          <p><strong>Web Data Extraction:</strong> I have extracted valuable data from 5 websites to provide insights and analysis.</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="count-box">
          <i class="bi bi-people"></i>
          <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
          <p><strong>Collaborative Projects:</strong> I have worked with 15 teams to efficiently manage and process web data.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Facts Section -->



    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Outils</h2>
         </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">HTML <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>


            <div class="progress">
              <span class="skill">Pandas, Searborn <i class="val">65%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>


            <div class="progress">
              <span class="skill">Flask, Matl <i class="val">65%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">PYTHON <i class="val">40%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">SQL <i class="val">62.5%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="62.5" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">PHP <i class="val">65%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">WordPress/CMS <i class="val">45%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

 
            <div class="progress">
              <span class="skill">Laravel <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Vue.js <i class="val">63%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

 <!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container">

    <div class="section-title">
      <h2>Resume</h2>
      <p> </p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Summary</h3>
        <div class="resume-item pb-0">
          <h4>Réjuste Wenoumi</h4>
          <ul>
            <li>Abomey-Calavi, Atlantique, BENIN</li>
            <li>(+229) 94 55 26 16 / 90 35 83 52</li>
            <li>rejuste.wenoumi@epitech.eu</li>
          </ul>
        </div>
        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Coding Academy, EPITECH-BENIN</h4>
          <h5>January 2023 - May 2023</h5>
          <br>
          <strong>Specialization in Data and Artificial Intelligence</strong>
          <ul>
            <li><strong>Data Analysis:</strong> Proficient in data analysis techniques, including data mining, data visualization, and statistical analysis.</li>
            <li><strong>Artificial Intelligence:</strong> Familiarity with AI concepts and techniques, such as machine learning, deep learning, and natural language processing.</li>
            <li><strong>Database Management:</strong> Experience working with SQL and NoSQL databases for data storage and retrieval.</li>
          </ul>
          <strong>Full Stack Development (Core Curriculum):</strong><br>
          Proficient in front-end and back-end development, with experience in building web applications using HTML, CSS, JavaScript, PHP, Laravel, VueJS, Flask, and Django.
          <ul>
            <li><strong>RESTful APIs:</strong> Designing and implementing APIs to facilitate communication between front-end and back-end components.</li>
            <li><strong>Version Control:</strong> Proficient in using Git for code versioning and collaboration.</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Bachelor's Degree in Economics & Finance of Local Authorities</h4>
          <h5>Faculty of Economics & Management Sciences, University of Abomey-Calavi, BENIN</h5>
          <h5>October 2018 - December 2021</h5>
          <p>Thesis Topic: The Impact of Taxation on Local Development in Benin.</p>
          <p>Thesis Evaluation: Summa Cum Laude, Top of the Class.</p>
        </div>
        <div class="resume-item">
          <h4>Scientific Baccalaureate</h4>
          <h5>2012 - 2018</h5>
          <p><em>General Education College 2 Bohicon, BENIN.</em></p>
        </div>
        
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>MIS Intern</h4>
          <h5>May 30, 2023 - Present</h5>
          <p><strong>GDIZ Organization, Benin</strong></p>
          <ul>
            <li>Assisting in the management of Management Information Systems (MIS) and databases.</li>
            <li>Performing data entry and ensuring data accuracy and integrity.</li>
            <li>Generating reports and analyzing data to support decision-making processes.</li>
            <li>Assisting in troubleshooting and resolving technical issues related to MIS.</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Academic Projects</h4>
          <h5>2023</h5>
          <p><em>Coding Academy of the TITA program at EPITECH-BENIN</em></p>
          <p>I am pleased to present my academic projects, which have been developed using various programming languages and libraries to create innovative solutions. Details of each project and the skills acquired during their development will be presented in the <a href="#portfolio"><strong>Portfolio</strong></a> section.</p>
          <ul>
            <div class="resume-item">
              <h4>Specialization in Data and Go</h4>
              <h5>April 17, 2023 - May 30</h5>
              <ul>
                <li><strong>Sentiment Analysis:</strong> Machine learning project from data ingestion to model creation using DATAIKU.</li>
                <li><strong>Big Data Project:</strong> Collaborative open-source interface for faster teamwork in Data Science projects using DATAIKU and OVH.</li>
                <li><strong>NLP:</strong> Text data analysis using NLTK and Scikit-learn to automatically infer the topic of discussion.</li>
                <li><strong>Exploratory Data Analysis:</strong> Aggregation, analysis, and visualization of data using Matplotlib, Microsoft Power BI, Tableau Software, Plotly, and Pandas for strategic business intelligence.</li>
                <li><strong>Python for Data Science:</strong> Application of Python syntax and ecosystem to the field of Data Science using Jupyter Notebook, Pandas, Matplotlib, Requests & SQLite, Beautiful Soup, Pickle, and Flask.</li>
              </ul>
            </div>
          </ul>
          <ul>
            <div class="resume-item">
              <h4>Core Curriculum in Development and Go</h4>
              <h5>January 31, 2023 - April 14, 2023</h5>
              <ul>
                <li><strong>YOWL:</strong> Web application for commenting on internet content using VueJS, Laravel, and MySQL.</li>
                <li><strong>TWP:</strong> Task planning tool similar to Trello using VueJS, WordPress, and MySQL.</li>
                <li><strong>POST-IT:</strong> Note management website using VueJS and API.</li>
                <li><strong>FREE-ADS:</strong> Advanced e-commerce website using Laravel and MySQL.</li>
                <li><strong>MY-SHOP:</strong> E-commerce website using HTML, CSS, MySQL, PHP, and JavaScript.</li>
              </ul>
            </div>
          </ul>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="resume-item">
          <h4>Collaborator Intern</h4>
          <h5>October 2022 - January 2023</h5>
          <p><strong>Direction of Planning, Administration, and Finance:</strong> Ministry of Decentralization and Local Governance, Cotonou, Benin</p>
          <ul>
            <li>Inventory management and asset depreciation.</li>
            <li>Administrative writing and correspondence management.</li>
            <li>Data updating and equipment management.</li>
            <li>Financial statement consolidation and allocation vouchers.</li>
          </ul>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="resume-item">
          <h4>Intern</h4>
          <h5>August 2020 - September 2020</h5>
          <p><strong>Department of Economic Affairs:</strong> Municipality of Bohicon, Benin</

p>
          <ul>
            <li>Creation of a database of market debtors.</li>
            <li>Collection of local development taxes.</li>
            <li>Writing two meeting reports.</li>
            <li>Sensitization of market vendors and monitoring of collection agents.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Resume Section -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Portfolio</h2>
      <p>I am pleased to present in detail the projects I have completed during the core curriculum of my coding academy at EPITECH BENIN. This is followed by my personal projects and projects in my data analysis specialization.</p>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">API</li>
          <li data-filter=".filter-card">Web</li>
          <li data-filter=".filter-web">Data Analysis</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="../assets/img/api.png" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="../assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
            <a href="yowl.html" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="../assets/img/apii.png" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="../assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
            <a href="yowl.html" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="../assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="../assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
            <a href="yowl.html" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="../assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="../assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="twp.html" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="../assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="../assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
            <a href="post-it.html" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="../assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="../assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
            <a href="free-ads.html" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="../assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="../assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
            <a href="myshop.html" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="../assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="../assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio

-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="../assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="../assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="../assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="../assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details/myshop.html" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="../assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="../assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Portfolio Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">

    <div class="section-title">
      <h2>Services</h2>
      <p>Here are some of the services I offer:</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
        <div class="icon"><i class="bi bi-briefcase"></i></div>
        <h4 class="title"><a href="">Dynamic Website Design</a></h4>
        <p class="description">I can create dynamic and interactive websites tailored to your needs.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
        <div class="icon"><i class="bi bi-card-checklist"></i></div>
        <h4 class="title"><a href="">Project Proposal</a></h4>
        <p class="description">I can provide project proposals and develop web projects and other solutions based on your requirements.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
        <div class="icon"><i class="bi bi-bar-chart"></i></div>
        <h4 class="title"><a href="">Data Analysis and Visualization</a></h4>
        <p class="description">I offer data analysis and visualization services to help you gain insights and make informed decisions based on your data.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
        <div class="icon"><i class="bi bi-binoculars"></i></div>
        <h4 class="title"><a href="">Distance Training for Office Tools</a></h4>
        <p class="description">I provide remote training sessions to help you master office tools and increase your productivity.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
        <div class="icon"><i class="bi bi-calendar4-week"></i></div>
        <h4 class="title"><a href="">Timely Delivery</a></h4>
        <p class="description">I value punctuality and strive to deliver projects on time, meeting the agreed-upon deadlines.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="600">
        <div class="icon"><i class="bi bi-list-task"></i></div>
        <h4 class="title"><a href="">Data Cleaning and Preprocessing</a></h4>
        <p class="description">I provide data cleaning and preprocessing services to ensure the accuracy and quality of datasets.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="700">
        <div class="icon"><i class="bi bi-pie-chart"></i></div>
        <h4 class="title"><a href="">Statistical Analysis</a></h4>
        <p class="description">I offer statistical analysis services to uncover patterns and relationships in data.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="800">
        <div class="icon"><i class="bi bi-predictive-analytics"></i></div>
        <h4 class="title"><a href="">Predictive Modeling</a></h4>
        <p class="description">I can build predictive models using machine learning algorithms for data-driven predictions.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="900">
        <div class="icon"><i class="bi bi-file-earmark-bar-graph"></i></div>
        <h4 class="title"><a href="">Data Reporting</a></h4>
        <p class="description">I generate comprehensive reports summarizing data analysis findings and insights.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="1000">
        <div class="icon"><i class="bi bi-database"></i></div>
        <h4 class="title"><a href="">Database Management</a></h4>
        <p class="description">I assist in designing and optimizing databases for efficient data storage and retrieval.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="1100">
        <div class="icon"><i class="bi bi-poll"></i></div>
        <h4 class="title"><a href="">Market Research</a></h4>
        <p class="description">I conduct market research and analysis to gather insights about target audiences and industry trends.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="1200">
        <div class="icon"><i class="bi bi-keyboard"></i></div>
        <h4 class="title"><a href="">Data Entry and Management</a></h4>
        <p class="description">I offer efficient and accurate data entry and management services.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="1300">
        <div class="icon"><i class="bi bi-columns"></i></div>
        <h4 class="title"><a href="">Dashboard Creation</a></h4>
        <p class="description">I develop interactive dashboards for data visualization and exploration.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="1400">
        <div class="icon"><i class="bi bi-people"></i></div>
        <h4 class="title"><a href="">Data Training and Consultation</a></h4>
        <p class="description">I provide data training sessions and consultation to enhance data-related skills.</p>
      </div>
    </div>

  </div>
</section>
<!-- End Services Section -->


    <!-- ======= Testimonials Section ======= -->
 

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">
    <div class="section-title">
      <h2>Contact</h2>
    </div>
    <div class="col-lg-5 d-flex align-items-stretch">
      <div class="info">
        <div class="address">
          <i class="bi bi-geo-alt"></i>
          <h4>Location:</h4>
          <p>Abomey-Calavi, Atlantique Bénin</p>
        </div>
        <div class="email">
          <i class="bi bi-envelope"></i>
          <h4>Email:</h4>
          <p>rejustewenoumi@gmail.com</p>
        </div>
        <div class="phone">
          <i class="bi bi-phone"></i>
          <h4>Call:</h4>
          <p>+229 94 55 26 16 </p>
        </div>
      </div>
    </div>
    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
      <form action="contact.php" method="post" role="form" class="php-email-form">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="name">Your Name</label>
            <input type="text" name="name" class="form-control" id="name" required>
          </div>
          <div class="form-group col-md-6">
            <label for="email">Your Email</label>
            <input type="email" class="form-control" name="email" id="email" required>
          </div>
        </div>
        <div class="form-group">
          <label for="subject">Subject</label>
          <input type="text" class="form-control" name="subject" id="subject" required>
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea class="form-control" name="message" rows="10" required></textarea>
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Send Message</button></div>
      </form>
    </div>
  </div>
</section>
<!-- End Contact Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>RW-CODE Portfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">RW-CODE</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/typed.js/typed.min.js"></script>
  <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>