<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>rejuste wenoumi</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

 </head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../assets/img/tre.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Réjuste Wenoumi</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>   

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-cart-download"></i> <span>Services</span></a>
            <ul>
              <!-- <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-edit"></i> <span>Corrections</span></a></li>
              <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-coin-stack"></i> <span>Gestion de base de donnee</span></a></li> -->
              <!-- <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-chat"></i> <span>Message</span></a></li> -->
                </ul>
          </li>
          <!-- <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Project</span></a></li> -->
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Réjuste Wenoumi</h1>
      <p>I'm <span class="typed" data-typed-items="Data Analyst,Economist, Web Developper"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
         <p class="fst-italic"> As an MIS intern at <strong>GDIZ</strong>, I have gained a strong experience and expertise in the field of <strong> Data</strong> through my training at <strong>EPITECH-BENIN's Coding Academy</strong>. Driven by stimulating challenges, my objective is to play an active role in the development of innovative projects within international companies and organizations. 
          <br> With my skills in <strong>economics and finance</strong>, <strong>web development and Data Analysis</strong>, I am capable of resolving complex issues and contributing to informed strategic decision-making. I am determined to bring significant added value through my knowledge and experience in this exciting and ever-evolving field.
         </p>   <strong></strong>
        </div>     

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="../assets/img/ju.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <!-- <h3>Economiste, Data analyst &amp; Web Developer.</h3> 
            <p class="fst-italic">

              Je suis actuellement en <strong>Coding Academy</strong> à EPITECH-BENIN, où je me suis spécialisé en <strong>Data</strong>, domaine passionnant en constante évolution, pour en découvrir toutes les subtilités et me perfectionner dans ce domaine. 
          
              <br> En tant que personne curieuse de nature, je suis toujours en quête de nouveaux défis à relever et de projets ambitieux à réaliser. J'aimerais contribuer activement au développement de projets innovants au sein des entreprises et des organismes internationaux en utilisant mes compétences en économie, développement web et Data Analyse pour résoudre des problématiques complexes et aider à prendre des décisions stratégiques éclairées.
     
    
             </p>   -->
            <!-- <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>26 january 2001</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.rw-code.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+229 90 35 83 52</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Cotonou, Bénin</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>rejuste.wenoumi@epitech.eu</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div> -->
            <p>
              <!-- <br> Mettre mes compétences en développement web et Data Analyse au service des entreprises et des organismes internationaux pour les aider à résoudre des problèmes complexes grâce à l'analyse de données approfondie. -->
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">
         <div class="section-title">
          <h2>Facts</h2>
          <p>Les statistiques parlent d'elles-mêmes: découvrez les résultats impressionnants de mes réalisations.Les chiffres ne mentent pas. Vous cherchez toujours des preuves concrètes ? si oui alors naviguer à travers les icons des statistiques.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong>  </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Projets</strong> de création de site et du contenu web réalisés</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Podcast</strong> pour l'amélioration de ma capacité d'écoute en Anglais.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hard Workers</strong> en conception</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Outils</h2>
         </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">HTML <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>


            <div class="progress">
              <span class="skill">Pandas, Searborn <i class="val">65%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>


            <div class="progress">
              <span class="skill">Flask, Matl <i class="val">65%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">PYTHON <i class="val">40%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">SQL <i class="val">62.5%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="62.5" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">PHP <i class="val">65%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">WordPress/CMS <i class="val">45%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

 
            <div class="progress">
              <span class="skill">Laravel <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Vue.js <i class="val">63%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>  </p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Réjuste Wenoumi</h4>
              <!-- <p><em>Innovative and deadline-driven economist and developper with smalll experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p> -->
              <ul>
                <li>Abomey-Calavi, Atlantique, BENIN</li>
                <li>(+229) 94 55 26 16 / 90 35 83 52</li>
                <li>rejuste.wenoumi@epitech.eu</li>
              </ul>
            </div>
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Coding Academy, EPITECH-BENIN</h4>
              <h5>January 2023 - may 2023</h5>
  
               <br> <strong>Specialization in Data and Artificial Intelligence</strong>   
      
              
              <ul>
                <li><strong>Data Analysis : </strong>Knowledge and expertise in data analysis techniques, including data mining, data visualization, and statistical analysis.</li>
                <li><strong>Artificial Intelligence : </strong>Familiarity with AI concepts and techniques, such as machine learning, deep learning, and natural language processing.</li>
                <li><strong>Database Management :</strong> Experience working with SQL and NoSQL databases for data storage and retrieval.</li>
              </ul>
              <strong>Full Stack Development (Core Curriculum):</strong> <br> Proficient in front-end and back-end development, with experience in building web applications using HTML, CSS, JavaScript, php, Laravel, VueJS, Flask and Django.
              <ul>
                 <li><strong>RESTful APIs :</strong> Designing and implementing APIs to facilitate communication between front-end and back-end components.</li>
                <li><strong>Version Control :</strong> Proficient in using Git for code versioning and collaboration.</li>
              </ul>
              </div>
            <div class="resume-item">
              <h4>Bachelor's Degree in Economics & Finance of Local Authorities</h4>
              <h5>Faculty of Economics & Management Sciences, University of Abomey-Calavi, BENIN</h5>
              <h5>October 2018 - December 2021</h5>
              <p>Thesis Topic: The Impact of Taxation on Local Development in Benin.
              </p><p>  Thesis Evaluation: Summa Cum Laude, Top of the Class.</p>
             </div>
             
            <div class="resume-item">
              <h4>Baccalauréat scientifique</h4>
              <h5>2012 - 2018</h5>
              <p><em>Collège d'Enseignement Général 2 Bohicon, BENIN.</em></p>
             </div>
          </div>


          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>            <div class="resume-item">
              <h4>Projets Académiques  réalisés</h4>
              <h5>2023</h5>
              <p><em>Coding Academy du programme TITA à EPITECH-BENIN</em></p>
              <p>Je suis ravi de pouvoir vous présenter mes projets académiques, qui ont été développés en utilisant divers languages de programmation et librairies pour créer des solutions innovantes. <br> Les détails de chaque projet et les compétences acquises au cours de leur réalisation seront présentés dans la partie <a href="#portfolio"><strong>Portfolio</strong></a></p>
              <ul>          
                <div class="resume-item">
                <h4>SPECIALITE DATA and GO</h4>
                <h5>Du 17 Avril 2022 à présent</h5>
                 <ul>
                  <li><strong>Sentiment Analysis : </strong> (DATAIKU). <br>Projet de machine learning de bout-à-bout allant de la Data Ingestion jusqu'au modèle.</li>
                  <li><strong>Projet Big Data :</strong> (DATAIKU, OVH). <br> Utilisation d'une interface collaborative open-source permettant de faire des projets de Data Science plus rapidement en équipe.</li>
                  <li><strong>NLP :</strong> (NLTK, Scikit-learn). <br> Approche de la DATA appliqué à du texte afin d’en déduire automatiquement le sujet de discussion. </li>
                  <li><strong>Exploratory Data Analysis :</strong> (MatplotLib, Microsoft PowerBi, Tableau Software, Plotly et Pandas). <br> Agrégation, Analyse et visualisation des données pour en ressortir de l'intélligence business stratégique.</li>
                  <li><strong>Python for Data science :</strong> (Python, Jupyter Notebook, Pandas, MatplotLib, Requests & SQLite, Beautiful Soup, Pickle and Flask). <br>Syntaxe et écosystème lié au python appliquée au domaine de la Data Science. </li>
                </ul>
                </div>
              </ul>
              <ul>          
                <div class="resume-item">
                <h4>TRONC COMMUN DEV and GO</h4>
                <h5>31 Janvier 2023 - 14 Avril 2023</h5>
                <p><strong>Projets Académiques : </strong><em> <br>
                </em></p>
                <ul>

                  <li><strong>YOWL :</strong>(VueJS, Laravel and MySQL). <br> Site web servant à commenter des contenus sur internet. <a href="yowl.html">Plus de détail -></a> </li>
                  <li><strong>TWP :</strong>(VueJS, WordPress and MySQL). <br>Outils de planification des tâches de type Trello. <a href="twp.html">Plus de détail -></a></li>
                  <li><strong>POST-IT :</strong>(VueJS, Api). <br> Site web de gestion des notes.  <a href="post-it.html">Plus de détail -></a> </li>
                  <li><strong>FREE-ADS :</strong>(Laravel, MySQL). <br> Site ecommerce avancé.<a href="free-ads.html">    Plus de détail -></a> </li>
                  <li><strong>MY-SHOP :</strong>(HTML, CSS, MySQL, PHP, JavaScript). <br> Site e-commerce.       <a href="myshop.html">Plus de détail -></a> </li>
                  </ul>
                </div>
              </ul>
             </div>
          </div>          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>            <div class="resume-item">
              <h4>Projets Académiques  réalisés</h4>
              <h5>2023</h5>
              <p><em>Coding Academy du programme TITA à EPITECH-BENIN</em></p>
              <p>Je suis ravi de pouvoir vous présenter mes projets académiques, qui ont été développés en utilisant divers languages de programmation et librairies pour créer des solutions innovantes. <br> Les détails de chaque projet et les compétences acquises au cours de leur réalisation seront présentés dans la partie <a href="#portfolio"><strong>Portfolio</strong></a></p>
              <ul>          
                <div class="resume-item">
                <h4>SPECIALITE DATA and GO</h4>
                <h5>Du 17 Avril 2022 à présent</h5>
                 <ul>
                  <li><strong>Sentiment Analysis : </strong> (DATAIKU). <br>Projet de machine learning de bout-à-bout allant de la Data Ingestion jusqu'au modèle.</li>
                  <li><strong>Projet Big Data :</strong> (DATAIKU, OVH). <br> Utilisation d'une interface collaborative open-source permettant de faire des projets de Data Science plus rapidement en équipe.</li>
                  <li><strong>NLP :</strong> (NLTK, Scikit-learn). <br> Approche de la DATA appliqué à du texte afin d’en déduire automatiquement le sujet de discussion. </li>
                  <li><strong>Exploratory Data Analysis :</strong> (MatplotLib, Microsoft PowerBi, Tableau Software, Plotly et Pandas). <br> Agrégation, Analyse et visualisation des données pour en ressortir de l'intélligence business stratégique.</li>
                  <li><strong>Python for Data science :</strong> (Python, Jupyter Notebook, Pandas, MatplotLib, Requests & SQLite, Beautiful Soup, Pickle and Flask). <br>Syntaxe et écosystème lié au python appliquée au domaine de la Data Science. </li>
                </ul>
                </div>
              </ul>
              <ul>          
                <div class="resume-item">
                <h4>TRONC COMMUN DEV and GO</h4>
                <h5>31 Janvier 2023 - 14 Avril 2023</h5>
                <p><strong>Projets Académiques : </strong><em> <br>
                </em></p>
                <ul>

                  <li><strong>YOWL :</strong>(VueJS, Laravel and MySQL). <br> Site web servant à commenter des contenus sur internet. <a href="yowl.html">Plus de détail -></a> </li>
                  <li><strong>TWP :</strong>(VueJS, WordPress and MySQL). <br>Outils de planification des tâches de type Trello. <a href="twp.html">Plus de détail -></a></li>
                  <li><strong>POST-IT :</strong>(VueJS, Api). <br> Site web de gestion des notes.  <a href="post-it.html">Plus de détail -></a> </li>
                  <li><strong>FREE-ADS :</strong>(Laravel, MySQL). <br> Site ecommerce avancé.<a href="free-ads.html">    Plus de détail -></a> </li>
                  <li><strong>MY-SHOP :</strong>(HTML, CSS, MySQL, PHP, JavaScript). <br> Site e-commerce.       <a href="myshop.html">Plus de détail -></a> </li>
                  </ul>
                </div>
              </ul>
             </div>
          </div>


          
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
             <div class="resume-item">
              <h4>Stagiaire collaborateur</h4>
              <h5>Octobre 2022 - Janvier 2023</h5>
              <p><strong>Direction de la Planification de l'Administration et des Finances : </strong><em>Ministère de la décentralisation et de la gouvernance locale, Cotonou, Benin</em></p>
              <ul>
                <li>Réalisation des inventaires et gestion des amortissements.</li>
                <li>Rédaction administrative et gestion des courriers.</li>
                <li>Actualisantion des données et gestion des materiels.</li>
                <li>Collation des états financiers et des bordereaux d'affectation.</li>
                <!-- <li></li>
                <li></li>
                <li></li>
                <li></li> -->
              </ul>
            </div>
          </div>


          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
           <div class="resume-item">
             <h4>Stagiaire</h4>
             <h5>Août 2020 - septembre 2020</h5>
             <p><strong>Service des Affaires Economiques : </strong><em>Mairie de la commune de Bohicon, Benin</em></p>
             <ul>
               <li>Constituion d'une base de donnée des redevables du marché.</li>
               <li>Recouvrements des taxes de développement local.</li>
               <li>Rédaction de deux rapports de reunion.</li>
               <li>Sensibilisation des bonnes dames du marché et suivi des agents collecteurs</li>
             </ul>
           </div>
         </div>










        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>C'est avec une grande joie, je vous présente de façon détaillées, les projets que j'ai réalisés durants le tronc commun de mon coding academy à EPITECH BENIN. Aprés s'en suit mes projets personnels et de ma spécialité data analyse.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Api</li>
              <li data-filter=".filter-card">Web</li>
              <li data-filter=".filter-web">Data Analyse</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../assets/img/api.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="yowl.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../assets/img/apii.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="yowl.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="yowl.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="twp.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="post-it.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="free-ads.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="myshop.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details/myshop.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p> </p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Conception de site web dynamique</a></h4>
            <p class="description"> okei</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="">Proposition de projet</a></h4>
            <p class="description">Développement votre projets web et autres ensembles.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">Analyse et visualisation des données</a></h4>
            <p class="description"> Nousnurtlidodjdjdjdjdjdjdjdjdjdjdjdjd</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-binoculars"></i></div>
            <h4 class="title"><a href="">Formation à distance pour la maitrise du packs office</a></h4>
            <p class="description">bdhdhdhdhdhdhdhdhdhdh</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="title"><a href="">ambiti</a></h4>
            <p class="description">  dddgdgddddd</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
            <p class="description">hehrhfhfhfhfhfhf</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
 

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
         </div>
           <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Abomey-Calavi, Atlantique Bénin</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>rejuste.wenoumi@epitech.eu</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+229 90 35 83 52</p>
              </div>


            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.txt" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>RW-CODE Portfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">RW-CODE</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/typed.js/typed.min.js"></script>
  <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>